
            #local, #remote {
                border-style: solid;
                float: left;
                margin-right: 5px;
            }
            
            #local {
                width: 100%;
                height: 300px;
}  
#remote {
    width: 100%;
    height: 300px;
}
.heading {
    float: left;
    width: 100%;
    text-align: center;
    margin: 5px 0px 15px;
    border-bottom: 0.5px solid #2b2727;
    padding-bottom: 5px;
    font-size: 20px;
}
.moduleHead h1 {
    float: left;
    width: 100%;
    text-align: center;
    margin: 15px 0px;
    text-transform: capitalize;
}
.callingHeads {
    float: left;
    width: 100%;
    text-align: center;
}
form#dial {
    float: left;
    padding: 15px 0 25px;
    text-align: center;
    width: 100%;
}
            
            .callBacksDiv {
    float: left;
    width: 100%;
    text-align: center;
}

.callBackBlock {
    float: left;
    width: 100%;
    text-align: center;
}

.callbacksSpan {
    float: left;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 15px 0px;
    font-size: 22px;
}
.toggleMedia {
    float: left;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.alterMedia {
    float: left;
    padding: 5px 0 25px;
    width: 100%;
}
.changeResolution {
    float: left;
    width: 100%;
}
.resolutionDiv {
    float: left;
    padding: 0 0 15px;
    width: 100%;
}
